
.a2d3-h1
{
  font-size:15px;
  font-weight:bold;
}

.a2d3-content
{
  padding:4px;
}

.a2d3-pad-bottom
{
  padding-bottom:15px;
}

.a2d3-pad-top
{
  margin-top:15px;
}

.a2d3-pad-left
{
  margin-left:10px;
}

.title
{
  font-family: Arial, Helvetica, sans-serif;
}
